.container_header {
  display: flex;
  justify-content: space-between;
  height: 52px;
  padding: 12px;
}

.container_header_logos {
  align-items: center;
  display: flex;
  justify-content:space-between;
  height:100%;
  width: 50%;
}

.logosmall {
  height: 100%;
  
}

.devs_united {
  width: 50%;
}

.container_logout{
  width: 40%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.logout{
  cursor: pointer;
}

